/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;


  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
}

/*
1920×1080 (8.89%)
1366×768 (8.44%)
360×640 (7.28%)
414×896 (4.58%)
1536×864 (3.88%)
375×667 (3.75%) 
*/

/* Base styles */

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: clamp(1rem, 0.3932rem + 2.5890vw, 3.5rem);
  line-height: 1.4;
  color: #3c3d3e;
  overflow-x: hidden;
  min-height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #3c3d3e;
  }

a:hover, a:focus {
  color: #f5df4d;
  background-color: #3c3d3e;
  border-radius: 1rem;
}

/* nav */

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  background-image: linear-gradient(#f5df4D, #f9ed99);
  padding-bottom: 1rem;
  margin-top: -2rem;
  z-index: 10;
  overflow: hidden;
}

#item-div {
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: end;
  font-size: 2.2rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: 0;
  margin-right: 2rem;
}

#skip a {
  position: absolute;
  left: -1000rem;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}

#skip a:focus, #skip a:active {
  position: static;
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  display: flex;
  justify-content: start;
  font-size: 2.2rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: 0;
}


/*Safari has an issue whereby unordered lists with a list-style value of none applied to them will not 
be recognized as a list in the accessibility tree. To address this, add a zero-width space as 
pseudo-content before each list item to ensure the list is recognized properly. This ensures the design 
is unaffected by the bug fix and that list items are not improperly described.*/
li::before {
  content: "\200B";
}


/* main */

main {
  background-image: linear-gradient(#f9ed99, #fffef8);
  padding-top: 1rem;
}

h1 {
  font-size: 125%;
  margin-bottom: 1rem;
}

h2{
  font-size: 75%;
}

h2, h3 {
  font-weight: normal;
}

h3 {
  font-size: 50%;
  margin-bottom: 2rem;
}

#hero-photo {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  width: clamp(350px, 53%, 800px);
}

#about {
  padding-top: 1rem;
}

#about-section {
  padding-right: 1rem;
  padding-left: 1rem;
}

#steps {
  font-size: 60%;
  padding-top: 1.5rem;
  list-style: inside;
  list-style-type: disc;
  width: max-content;
  margin: 0 auto;
  text-align: left;
}

#recommendations {
  font-size: 75%;
  padding-top: 1.5rem;
  text-align: center;
  padding-bottom: 3rem;
}

#beautiful {
  width: fit-content;
  color: #3c3d3e;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

#certificates {
  display: flex;
  justify-content: space-around;
}

#w3c, #deque {
  width: 49.5%;
  vertical-align: top;
}

@media (max-width: 28.75em) {
  #certificates {
    font-size: 4rem;
  }
}

/*@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /*
  [class*="column"] {
    width: 100%;
  }*/

#medium {
  margin-top: 6rem;
  display: block;
  text-align: center;
  margin-bottom: 4rem;
}

#medium-link {
  font-size: x-large;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #3c3d3e;
  outline: 0;
  color: #f5df4d;
  background-color: #3c3d3e;
  border-radius: 1rem;
}

/* Contact section */

#contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: linear-gradient( #fffef8, #f9ed99);
}

#contact h2 {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (max-width: 28.75em) {
  .contact-section-header > h3 {
    font-size: 2rem;
  }
}

#contact-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contact-link, #tooltip {
  padding: 1rem;
  outline: 0;
}

/* Tooltip container */
#tooltip {
  position: relative;
  display: inline-block;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 20rem;
  background-color: #3c3d3e;
  color: #f5df4d;
  font-size: smaller;
  text-align: center;
  padding: 0.25rem;
  border-radius: 1rem;
  top: -5px;
  left: 105%;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
  visibility: visible;
}

footer {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #3c3d3e;
  background-image: linear-gradient(#f9ed99, #f5df4D);
  font-size: small;
}

footer p {
  display: flex;
  padding-top: 23rem;
  padding-bottom: 3rem;
  padding-right: 5rem;
  justify-content: flex-end;
}
